body {
    margin: 0;
    padding: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;

}

.outer-signup-container {
    background-color: transparent;
    color: white;
    border: rgb(35, 144, 190) solid 4px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: max-content;
}

.inner-signup-container {
    border: rgb(35, 144, 190) dashed 4px;
    padding: 16px;

}


.createAccount {

    background-color: transparent;
    color: aqua;
    border: solid teal 2px;
    margin: 1rem;
    padding: 0.5rem;

}

.go-back {
    text-decoration: none;
    background-color: transparent;
    color: aqua;
    border: solid teal 2px;
    margin: 1rem;
    padding: 0.5rem;
}